* {
  box-sizing: border-box;
}
:root {
  --btn-color: #807cf4;
  --p-color: #747474;
  --head-color: #5a5454;
}
.head {
  font-family: "Lato", sans-serif;
}
.leg {
  font-family: "Roboto", sans-serif;
}

/* Start Nav */
.nav-link {
  color: #4b647e;
}
.nav-icon {
  font-size: 26px;
  margin-left: 10px;
  margin-top: 8px;
  color: #565555;
}
.btnn {
  font-weight: 300;
  border-radius: 20px;
  color: white;
  background-color: var(--btn-color);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* End Nav */
/* Start Header */
.header .imgs {
  width: 48%;
}
.header .text {
  width: 48%;
  color: #534d4d;
}
@media (max-width: 768px) {
  .header .imgs {
    width: 80%;
  }
  .header .text {
    width: 100%;
  }
}
.header .imgs img {
  width: 100%;
}
.header .text button {
  border-radius: 20px;
  background-color: var(--btn-color);
  font-weight: 300;
  border: none;
  font-size: 16px;
  height: 35px;
  width: 105px;
  color: white;
}

.header .text h1 {
  font-weight: bold;
  font-size: 50px;
}
.header .imgs::before {
  content: "";
  background: url(img/Path\ 1201.png) no-repeat center center/cover;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 96%;
  height: 98%;
}

/* End Header */
/* Start Services */
.services .text p {
  width: 67%;
  color: #747474;
}
.services .text h4 {
  font-size: 20px;
  font-weight: bold;
  color: #3d37f1;
}
.services .text h2 {
  font-weight: 300;
  font-size: 40px;
  color: #5a5454;
}
.cards {
  row-gap: 25px;
  column-gap: 10px;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 340px;
  height: 450px;
  box-shadow: #c5c3f93e 0 4px 12px;
}
.item button {
  width: 110px;
  height: 43px;
  margin-top: 10px;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #4b647e;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}
.item .icon {
  margin-bottom: 40px;
}
.item p {
  margin-top: 20px;
}
.cards .one {
  background-image: linear-gradient(
    to bottom,
    #a5a2f6,
    #8e89f7,
    #766ff6,
    #5c54f4,
    #3d37f1
  );
}

/* End Services */
/* Start Camera */
.camera .imgs img {
  width: 450px;
}
.camera .imgs::before {
  content: "";
  background: url(img/Path\ 1250.png) no-repeat center center/cover;
  top: -43px;
  left: 17px;
  position: absolute;
  z-index: -1;
  width: 95%;
  height: 125%;
}
.camera .text {
  width: 50%;
  padding: 10px;
}
.camera .text h3 {
  color: var(--head-color);
  font-weight: bold;
  font-size: 22px;
}
.camera .text p {
  color: var(--p-color);
  font-weight: 400;
  font-size: 18px;
}
.camera .icons {
  width: 100%;
}
.camera .icons p {
  color: var(--p-color);
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

@media (max-width: 992px) {
  .camera .text {
    width: 96%;
  }
  .camera .imgs img {
    width: 395px;
  }
}
@media (max-width: 426px) {
  .camera .imgs img {
    width: 360px;
  }
}
@media (max-width: 320px) {
  .camera .imgs img {
    width: 290px;
  }
}
/* End Camera */
